<!-- navigation -->
<nav class="pages-nav">
  <div class="pages-nav__item">
    <a class="link link--page" href="#page-home">about</a>
  </div>
  <div class="pages-nav__item">
    <a class="link link--page" href="#page-portfolio">portfolio</a>
  </div>
  <div class="pages-nav__item">
    <a class="link link--page" href="#page-contact">contact</a>
  </div>
  <div class="pages-nav__item">
    <a
      class="link link--resume"
      href="https://docs.google.com/presentation/d/122lgj0GATobg_vGzhuB1EN0m9m03EVJN3WLd9-jMiww/edit?usp=sharing"
      >resume</a
    >
  </div>

  <div class="pages-nav__item pages-nav__item--social">
    <a
      class="link link--social link--faded"
      href="https://www.linkedin.com/in/scott-tang-a9b191142/"
      ><i class="fa fa-linkedin"></i
      ><span class="text-hidden">LinkedIn</span></a
    >

    <a class="link link--social link--faded" href="https://github.com/kidtango"
      ><i class="fa fa-github"></i><span class="text-hidden">YouTube</span></a
    >
  </div>
</nav>
