<!-- prettier ignore -->
<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include head.html %}
  <body>
    <!-- Navigation -->
    {% include nav.html %}
    <!-- /Navigation -->
    <!-- pages stack -->
    <div class="pages-stack">
      {% include about.html %} {% include portfolio_grid.html %} {% if
      site.contact =="static" %} {% include contact_static.html %} {% endif %}
    </div>
    <!-- /pages stack -->
    <button class="menu-button"><span>Menu</span></button>
    {% include modals.html%}

    <canvas class="background"></canvas>
    {% include js.html %}
  </body>
</html>
